$black:#000000;
$yellow-green: #b0eb00;
$red: #b30015;
$blue: #2a00b3;
$dark-red:#777;
$dark-green:2a85a1;
$other-blue: #0077b3;
$cyan: #00b0b3;
$transparent-cyan: #24fbff;
$periwinkle: #8a7dff;
$light-gray: #a6a6a6;
$gray: #595959;
$dark-green:#40A321;
$darkish-gray: #444;
$dark-gray: #363636;
$darker-gray: #303030;
$darkest-gray: #292929;
$darkester-gray: #111; 
$white:#fff;
$text-color:#404040;
$background-color:#DCDBD1;
$input-border-top:#c4c4c4;
$input-border-bottom:#d1d1d1;
$input-border-right:#d4d4d4;
$input-border1:#7dc9e2;
$input-outline-color:#dceefc;
$h1-background-color:#2F5A73;
$body-font: "Helvetica", Arial, sans-serif;
$gray-button-color:#c7c7c7;
$light-button-color:#F5F5F5;
$dark-gray:#b3b3b3;
$tab-border-color:#1C3A4C;
$tab-bsckground-color:#1B384A;
$tab-text-color:#546977;
$tab-active-color:#1E3D50;
$module-color:#7894a4;
$model-background-color:#e6ebee;
$model-textcolor:#6C6C6C;
$coach-textcolor:#4B4B4B;
$gray-color-text:#CCCCCC;
$tab-secback-color:#d1d1d1;
$tab-secbackground-color:#98ADB9;
$tab-secborder-color:#c3c3c3;
$tab-secborder-acolor:#143143;
$tab-button-bordercolor:#284D64;
$col-color:#afafaf;
$col-gray-color:#EDEDED;
$page-limit-color:#787878;
$add-user-text:#4D4D4D;
$add-user-input-text:#333333;
$error-background:#fcf6c3;
$error-border-color:#ded8ac;
$error-text-color:#863e1e;
